{{#> layouts._html-shell
    pageClass="v_activity"
    _pageUrl="https://learn.microblocks.fun/"
    _pageDescription="MicroBlocks is a live blocks programming language for physical computing."
}}

{{#*inline "main-content"}}


<!-- Header -->
{{!-- <header class="v_activity__hero c_hero-yellow">
    <div class="row row--center">

        <div class="col col-px col-12 sm-col-8 md-col-6 lg-col-3 xl-col-3">
            <div class="c_hero-yellow__picture-wrapper">
                <div class="c_hero-yellow__picture">
                    <img src="thumbnail.jpg" alt="{{title}}">
                </div>
            </div>
        </div>

        <div class="col col-px col-12">
            <div class="c_hero-yellow__title-wrapper">
                <h1 class="c_hero-yellow__title">{{title}}</h1>
                <address class="c_hero-yellow__author">{{localize "author" author}}</address>
            </div>
        </div>

        <div class="col col-px col-12">
            <div class="c_hero-yellow__specs">

                <div class="c_hero-yellow__boards">
                    <h3 class="c_hero-yellow__boards-title c_title-small">
                        <div class="c_title-small__icon">
                            {{> svg.icon-board-20x20 }}
                        </div>
                        {{localize "boards"}}:
                    </h3>
                    <div class="c_hero-yellow__boards-list">
                        {{#each boards}}
                        <span class="c_comma-separated">{{localize this}}</span>
                        {{/each}}
                    </div>
                </div>

                <div class="c_hero-yellow__components">
                    <h3 class="c_hero-yellow__components-title c_title-small">
                        <div class="c_title-small__icon">
                            {{> svg.icon-components-16x16 }}
                        </div>
                        {{localize "components"}}:
                    </h3>
                    <div class="c_hero-yellow__components-list">
                        {{#if components}}
                            {{#each components}}
                            <span class="c_comma-separated">{{localize this}}</span>
                            {{/each}}
                        {{else}}
                            <span>{{localize 'no-components'}}</span>
                        {{/if}}
                    </div>
                </div>

            </div>
        </div>


    </div>
</header> --}}


<div class="contents">
    <div class="row">

        <!-- 移动端目录切换按钮 -->
        <button class="sidebar-toggle" aria-label="Toggle Sidebar">
            <span class="sidebar-toggle__icon"></span>
            <span class="sidebar-toggle__icon"></span>
            <span class="sidebar-toggle__icon"></span>
        </button>

        <!-- Sidebar Contents -->
        <div class="col col-px col-12 lg-col-3 xl-col-3">
            <div class="sidebar" id="sidebar">
                <!-- 关闭按钮(仅移动端显示) -->
                <button class="sidebar-close" aria-label="Close Sidebar">
                    <span>&times;</span>
                </button>
                
                <ul>
                    <li>
                        <span class="contents_toggle">Basic <span class="arrow">&#9660;</span></span>
                        <ul class="submenu">
                            {{#each contents.basic}}
                                <li class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{/if}}">
                                    <a href="../{{@key}}-{{../locale.code}}/" class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{else}}v_activity__details-link {{/if}}">
                                        {{lan_json_key this ../locale.code}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        <span class="contents_toggle">CoModules <span class="arrow">&#9660;</span></span>
                        <ul class="submenu">
                            {{#each contents.external}}
                                <li class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{/if}}">
                                    <a href="../{{@key}}-{{../locale.code}}/" class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{else}}v_activity__details-link {{/if}}">
                                        {{lan_json_key this ../locale.code}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        <span class="contents_toggle">AI Camera <span class="arrow">&#9660;</span></span>
                        <ul class="submenu">
                            {{#each contents.sentry2}}
                                <li class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{/if}}">
                                    <a href="../{{@key}}-{{../locale.code}}/" class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{else}}v_activity__details-link {{/if}}">
                                        {{lan_json_key this ../locale.code}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        <span class="contents_toggle">Snap! <span class="arrow">&#9660;</span></span>
                        <ul class="submenu">
                            {{#each contents.snap}}
                                <li class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{/if}}">
                                    <a href="../{{@key}}-{{../locale.code}}/" class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{else}}v_activity__details-link {{/if}}">
                                        {{lan_json_key this ../locale.code}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </div>

            {{#if card-slides-url}}
            <aside class="v_activity__side-block v_activity__side-block--translate">
                <div class="v_activity__side-contents">
                    <p>
{{#markdown}}
{{localize "translate-txt"
    (join "[" (localize "translate-guidelines") "](https://microblocks.fun/contribute#translate)")
}}
{{/markdown}}
                    </p>
                    <a class="c_button-small" href="{{card-slides-url}}">
                        <div class="c_button-small__icon">
                            {{> svg.icon-slides-16x16 }}
                        </div>
                        <span>{{localize "btn-card-slides"}}</span>
                    </a>
                </div>
            </aside>
            {{/if}}

        </div><!-- Sidebar Contents -->


        <!-- Activity Text -->
        <div class="col col-px col-12 lg-offset-1 lg-col-8 xl-offset-1 xl-col-8">

            <article class="v_activity__contents wysiwyg">
                {{! insert the compiled markdown for this particular activity }}
                {{#markdown markdown}}{{/markdown}}
            </article>

            <div class="v_activity__cc">
                <div class="v_activity__cc-icon">
                    {{> svg.icons-creative-commons }}
                </div>
                <p>
                    © <b>{{localize "author" author}}</b> 2024-2025.<br>
                    {{localize "thanks"}}<br>
                    {{localize "cc-license"}}
                </p>
            </div>

        </div><!-- Activity Text -->

    </div>
</div>

<!-- 移动端侧边栏控制脚本 -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 目录折叠功能
        var toggles = document.querySelectorAll('.contents_toggle');
        toggles.forEach(function(toggle) {
            toggle.addEventListener('click', function() {
                var submenu = this.nextElementSibling;
                var arrow = this.querySelector('.arrow');
                if (submenu.style.display === 'block' || submenu.style.display === '') {
                    submenu.style.display = 'none';
                    arrow.innerHTML = '&#9654;';
                } else {
                    submenu.style.display = 'block';
                    arrow.innerHTML = '&#9660;';
                }
            });
        });

        // 移动端侧边栏切换
        var sidebarToggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.getElementById('sidebar');
        var sidebarClose = document.querySelector('.sidebar-close');
        
        if (sidebarToggle) {
            sidebarToggle.addEventListener('click', function(e) {
                e.preventDefault();
                // Toggle 功能:检查是否已打开
                if (sidebar.classList.contains('sidebar--open')) {
                    console.log('Toggle: Closing sidebar');
                    sidebar.classList.remove('sidebar--open');
                    document.body.style.overflow = '';
                } else {
                    console.log('Toggle: Opening sidebar');
                    sidebar.classList.add('sidebar--open');
                    document.body.style.overflow = 'hidden';
                }
            });
        }
        
        if (sidebarClose) {
            sidebarClose.addEventListener('click', function(e) {
                e.preventDefault();
                console.log('Close clicked'); // 调试用
                sidebar.classList.remove('sidebar--open');
                document.body.style.overflow = '';
            });
        }

        // 点击侧边栏外部关闭
        document.addEventListener('click', function(e) {
            if (sidebar.classList.contains('sidebar--open')) {
                // 如果点击的不是侧边栏内容也不是切换按钮
                if (!sidebar.contains(e.target) && !sidebarToggle.contains(e.target)) {
                    sidebar.classList.remove('sidebar--open');
                    document.body.style.overflow = '';
                }
            }
        });
    });
</script>

{{/inline}}

{{/layouts._html-shell }}
