{{#> layouts._html-shell
    pageClass="v_activity"
    _pageUrl="https://learn.microblocks.fun/"
    _pageDescription="MicroBlocks is a live blocks programming language for physical computing."
}}

{{#*inline "main-content"}}


<!-- Header -->
{{!-- <header class="v_activity__hero c_hero-yellow">
    <div class="row row--center">

        <div class="col col-px col-12 sm-col-8 md-col-6 lg-col-3 xl-col-3">
            <div class="c_hero-yellow__picture-wrapper">
                <div class="c_hero-yellow__picture">
                    <img src="thumbnail.jpg" alt="{{title}}">
                </div>
            </div>
        </div>

        <div class="col col-px col-12">
            <div class="c_hero-yellow__title-wrapper">
                <h1 class="c_hero-yellow__title">{{title}}</h1>
                <address class="c_hero-yellow__author">{{localize "author" author}}</address>
            </div>
        </div>

        <div class="col col-px col-12">
            <div class="c_hero-yellow__specs">

                <div class="c_hero-yellow__boards">
                    <h3 class="c_hero-yellow__boards-title c_title-small">
                        <div class="c_title-small__icon">
                            {{> svg.icon-board-20x20 }}
                        </div>
                        {{localize "boards"}}:
                    </h3>
                    <div class="c_hero-yellow__boards-list">
                        {{#each boards}}
                        <span class="c_comma-separated">{{localize this}}</span>
                        {{/each}}
                    </div>
                </div>

                <div class="c_hero-yellow__components">
                    <h3 class="c_hero-yellow__components-title c_title-small">
                        <div class="c_title-small__icon">
                            {{> svg.icon-components-16x16 }}
                        </div>
                        {{localize "components"}}:
                    </h3>
                    <div class="c_hero-yellow__components-list">
                        {{#if components}}
                            {{#each components}}
                            <span class="c_comma-separated">{{localize this}}</span>
                            {{/each}}
                        {{else}}
                            <span>{{localize 'no-components'}}</span>
                        {{/if}}
                    </div>
                </div>

            </div>
        </div>


    </div>
</header> --}}


<div class="contents">
    <div class="row">


        <!-- Sidebar Contents -->
        <div class="col col-px col-12 lg-col-3 xl-col-3">
            <div class="sidebar">
                <ul>
                    <li>
                        <span class="contents_toggle">Basic <span class="arrow">&#9660;</span></span>
                        <ul class="submenu">
                            {{#each contents.basic}}
                                <li class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{/if}}">
                                    <a href="../{{@key}}-{{../locale.code}}/" class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{else}}v_activity__details-link {{/if}}">
                                        {{lan_json_key this ../locale.code}}
                                        {{!-- <div class="v_activity__details-link-svg">
                                            {{> svg.icon-arrow-right-16x16 }}
                                        </div> --}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        <span class="contents_toggle">External <span class="arrow">&#9660;</span></span>
                        <ul class="submenu">
                            {{#each contents.external}}
                                <li class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{/if}}">
                                    <a href="../{{@key}}-{{../locale.code}}/" class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{else}}v_activity__details-link {{/if}}">
                                        {{lan_json_key this ../locale.code}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        <span class="contents_toggle">Sentry2 <span class="arrow">&#9660;</span></span>
                        <ul class="submenu">
                            {{#each contents.sentry2}}
                                <li class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{/if}}">
                                    <a href="../{{@key}}-{{../locale.code}}/" class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{else}}v_activity__details-link {{/if}}">
                                        {{lan_json_key this ../locale.code}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        <span class="contents_toggle">Snap! <span class="arrow">&#9660;</span></span>
                        <ul class="submenu">
                            {{#each contents.snap}}
                                <li class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{/if}}">
                                    <a href="../{{@key}}-{{../locale.code}}/" class="{{#if (eq (lan_json_key this ../locale.code) ../title)}}blue-background{{else}}v_activity__details-link {{/if}}">
                                        {{lan_json_key this ../locale.code}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var toggles = document.querySelectorAll('.contents_toggle');
                    toggles.forEach(function(toggle) {
                        toggle.addEventListener('click', function() {
                            var submenu = this.nextElementSibling;
                            var arrow = this.querySelector('.arrow');
                            if (submenu.style.display === 'block' || submenu.style.display === '') {
                                submenu.style.display = 'none';
                                arrow.innerHTML = '&#9654;'; // 向右箭头
                            } else {
                                submenu.style.display = 'block';
                                arrow.innerHTML = '&#9660;'; // 向下箭头
                            }
                        });
                    });
                });
            </script>




            {{#if card-slides-url}}
            <aside class="v_activity__side-block v_activity__side-block--translate">
                {{!-- <h3 class="v_activity__side-title">
                    {{localize "lbl-translate"}}
                </h3> --}}
                <div class="v_activity__side-contents">
                    <p>
{{#markdown}}
{{localize "translate-txt"
    (join "[" (localize "translate-guidelines") "](https://microblocks.fun/contribute#translate)")
}}
{{/markdown}}
                    </p>
                    <a class="c_button-small" href="{{card-slides-url}}">
                        <div class="c_button-small__icon">
                            {{> svg.icon-slides-16x16 }}
                        </div>
                        <span>{{localize "btn-card-slides"}}</span>
                    </a>
                </div>
            </aside>
            {{/if}}

        </div><!-- Sidebar Contents -->


        <!-- Activity Text -->
        <div class="col col-px col-12 lg-offset-1 lg-col-8 xl-offset-1 xl-col-8">

			<article class="v_activity__contents wysiwyg">

                {{! insert the compiled markdown for this particular activity }}
                {{#markdown markdown}}{{/markdown}}

            </article>

			<div class="v_activity__cc">
				<div class="v_activity__cc-icon">
					{{> svg.icons-creative-commons }}
				</div>
				<p>
					© <b>{{localize "author" author}}</b> 2024-2025.<br>
                    {{localize "thanks"}}<br>
					{{localize "cc-license"}}
				</p>
			</div>

        </div><!-- Activity Text -->


    </div>
</div>

{{/inline}}

{{/layouts._html-shell }}
